{% extends "base.html" %}

{% block main %}

<div class="margin-small" align="center">
  <a href="/edit?info_type=contacts" class="btn btn-primary">Edit Contacts</a>
  <a href="/edit?info_type=news" class="btn btn-primary">Edit News</a>
  <a href="/edit?info_type=upcoming" class="btn btn-primary">Edit Upcoming Events</a>
  <a href="/edit?info_type=links" class="btn btn-primary">Edit Important Links</a>
  <a href="/edit?info_type=slide_pics" class="btn btn-primary">Change Slideshow Pictures</a>
</div>

{% endblock %}